layout {
    default_tab_template {
        pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
          plugin location="zellij:status-bar"
        }
    }

    cwd "/Users/michael"

    tab name="Shell" focus=true {
      pane
    }

    tab name="Files" {
      pane command="yazi"
    }

    tab name="Projects" {
      pane cwd="Projects"
    }

    tab name="Dots" {
      pane cwd="Projects/dots"
    }

    tab name="Mosaic" {
      pane cwd="Projects/Mosaic"
    }

    tab name="Bloc" {
      pane cwd="Projects/bloc"
    }

    tab name="Myxr" {
      pane cwd="Projects/mikey-max-corp"
    }

    tab name="Ullr" {
      pane cwd="Projects/ullr"
    }

    tab name="Neurovirse" {
      pane cwd="Projects/neurovirse"
    }

    tab name="Asterisk" {
      pane cwd="Projects/asterisk"
    }
}
